html{
    font-family: 'Sen', sans-serif;
    font-size: 62.5%;
    height: 2000px;
}
body{
    list-style:none;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}
* {box-sizing: border-box;}
h1{font-size: 1.8rem;}
/* common */
a {
    text-decoration: none;
}
.hr{
    margin-top: 12px;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
   }
.line-clamp{
    display:-webkit-box;
    -webkit-line-clamp: var( --line-clamp,1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.title{
    color: #171100;
    font-family: Sen;
    letter-spacing: -0.76px;}

   .title.lv-1{ 
        font-weight: 700;
        font-size: 3.8rem;
    }
   .title.lv-{
    font-size: 5.8rem;
    font-weight: 600; }

    .title.lv-3{
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    }
    
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 144px;
    height: 50px;
    background-color: #171100;
    border-radius: 24.5px;
}
.content{
    max-width: calc(100% - 48px);
    width: 1170px;
    margin-left:auto;
    margin-right: auto;
}
.header{
    margin-top: 44px;
    
}
.header{
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 6px 8px;
    background-color: #fff;
}
.header .nav-bar{
    display: flex;
    align-items: center;
   justify-content: center;
}
.nav-bar .list-nav{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav-bar  a{
padding: 8px 21px;
color: #5F5B53;
text-align: center;
font-family: Poppins;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 1.75; /* 175% */
}
.nav-bar .btn a{
    color: #fff;
}
.nav-bar .btn{
    margin-left: 70px;
}
.nav-bar .active{
  display: flex ;
justify-content: center;
}
.nav-bar a:hover:not(.btn a ){
    color: #171100;
    text-shadow: 1px 0 0 currentColor; 
}

.nav-bar .active a::after{
    position: relative;
    display: block;
    content: "";
    Width:12px;
    Height:2px;
    background-color: #171100;
    border-radius: 1px;
    left: 0px;
}
/* hero */
.hero{
    margin:65px 0;
}
.hero .arrow-hero {
    display: flex;
}
.hero .img-hero{
    position: relative;
    width: 50%;
}

.hero .content-hero{
    margin-left: 130px;
    width: 50%;
}
.hero .img-child{
    background-color: #fff;
    position: absolute;
    border-radius: 12px;
    bottom: -72px;
    right: -48px;
    width: 270px;
    height: 244px;
}
.hero .img-hero .img-firs{
    width: 470px;
    height: 685px;
    object-fit: cover;
}
.hero .img-child .cover-img-child{
    align-items: center;
    margin-left: 24px;
    display: flex;
}
.hero .img-child .content-img-child{

    margin-left: 16px;
}
.hero .img-child .circle-img{
    display: flex;
    align-items: center;
    justify-content: center;
width: 48px;
height: 48px;
border-radius: 50%;
background: #FCEFFF;
box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.content-img-child .desc{
color: #5F5B53;
font-family: Poppins;
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 1.86; /* 185.714% */
}
.content-img-child .desc-bold{
color: #171100;
font-family: Poppins;
font-size: 1.8rem;
font-style: normal;
font-weight: 600;
line-height: 1.3; /* 166.667% */
}
/* .content-hero */
.content-hero {
    margin-left: 130px;
}
.content-hero .text .title{
margin-top: 64px;
color: #171100;
font-family: 'Sen', sans-serif;
font-size: 5.8rem;
font-style: normal;
font-weight: 700;
line-height: 1.17; /* 117.241% */
letter-spacing: -1.16px;
}
.content-hero .text .desc{
margin-top: 22px;
color: #5F5B53;
font-family: Poppins;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 1.67; /* 166.667% */
}
.content-hero .see-more{
    margin-top: 38px;
    display: flex;
    align-items: center;
    text-align: center;
}
.content-hero .btn-see-more{
    width: 180px;   
    border-radius: 32px;
    background: #FFB900;
}
.content-hero .btn-see-more a{
font-family: Poppins;
color: #fff;
font-size: 1.8rem;
font-style: normal;
font-weight: 600;
line-height: 1.67; /* 166.667% */
}
.content-hero .see-more .desc{
color: #171100;
font-family: Poppins;
font-size: 1.8rem;
font-style: normal;
font-weight: 600;
line-height: 1.67; /* 166.667% */
}

.hero .rate-comment .desc-title{
    margin-top: 48px;
}
.hero .rate-comment .desc{
color: #5F5B53;
font-family: Poppins;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 1.67; /* 166.667% */
}
.content-hero .rate-comment desc{
color: #5F5B53;
font-family: Poppins;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 1.67; /* 166.667% */
}
.content-hero .stats strong{
color: #171100;
margin-right: 8pxs;
font-family: Sen;
font-size: 4.4rem;
font-style: normal;
font-weight: 700;
line-height: 1.23; /* 122.727% */
}
.content-hero .stats strong:nth-child(2){
    margin-left: 28px;
}
/* ..........popular....... */

.popular{
    margin-top: 180px;
    padding: 20px 0;
}

 .title{
color: #171100;
font-family: Sen;
line-height: 1.26; /* 126.316% */
letter-spacing: -0.76px;}

.popular .title .desc{
color: #5F5B53;
font-family: Poppins;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 1,67   ; /* 166.667% */
}
.popular .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular .arrow-info .desc{
width: 458px;
margin-top: 16px;
color: #5F5B53;
font-family: Poppins;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 1.67   ; /* 166.667% */
}
.popular .info .btn-icon{
    width: 40px;
    color:#FFB900;
    height: 40px;
    border: 1px solid #5F5B53;
    border-radius: 50%;
    background-color: #fff; 
}
.row-icon button:first-child{
    margin-right: 16px;
}
.popular .info .btn-icon:hover{
    background-color: #FFB900;
    color: #fff;
}
.popular .info .btn-icon:nth-child(2){
    transform: rotate(3.142rad);
}
.popular .info .row-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ....img-popular....... */

.img-popular{
    display: flex;
    gap: 30px;
    margin-top: 55px;
}
.img-popular .img-child{
    width: 370px;
}
.img-popular .img-child .child{
    border-radius: 12px 12px 0px 0px;
    width: 370px;
    object-fit: cover;
    height: 278px;

}

.img-popular .cover .desc{
    width: 326px;
    margin-top: 6px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.88; /* 185.714% */
}
.img-popular .cover{
    display: flex;
    align-items: center;
    
}
.img-popular .cover .icon, .cover .btn {
    margin-left: auto;
}
.img-popular .img-child .arrow{
    padding: 0 22px;
    margin-top: 16px;
}
.img-popular .cover .strong{
color: #171100;
font-family: Poppins;
font-size: 1.8rem;
font-style: normal;
font-weight: 600;
line-height:1.67;
} 
.img-popular .cover .btn-yellow{
color: #fff;
border-radius: 25px;
background: #FFB900;
}
.img-popular .cover .btn{
    color: #fff;
}
.img-popular .img-child .arrow .cover-1{
    margin-top: 12px;
}

/* remind....... */
.remind{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: #2E2100;
}
.remind .cover {
    display: flex;
    padding:96px 135px;
    align-items: center;
}
.remind .cover .bold{
 margin-top: 18px;
color: #F7F7F7;
font-family: Sen;
font-size: 2.4rem;
font-style: normal;
font-weight: 700;
line-height: 1.42; /* 141.667% */
}
.remind .cover .desc{
color: #BFBCB2;
font-family: Poppins;
font-size: 1.4rem;
font-style: normal;
font-weight: 400;
line-height: 1.86; /* 185.714% */
}
.remind .cover .remind-content{
    width: 740px;
    position: relative;
    margin-left: 270px;
}

.remind .cover .remind-content .desc-italic{
    color: #FFF;
    font-family: Poppins;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    min-height: 160px;
    line-height: 1.54; /* 153.846% */
}
.remind .cover .img-position{
    position: absolute;
    top: -25px;
    left: -30px;
}

/*.feature-1 */
.feature-1{
    margin-top: 200px;
}
.feature-1 .img-content .img-first:nth-child(1){
    margin-top:34px;
    
}
.feature-1 .img-content .img-first{
    border-radius: 16px;
    width: 270px;
    height: 404px;
    object-fit: cover;
}
.feature-1 .img-content .img-first:first-child{
    border-radius: 16px;
}
.cover-img-discussion{

display: flex;
}
.cover-img-discussion .img-content{
    width: 50%;
    display: flex;
    gap: 0 30px;
}
.cover-img-discussion .info{
    width: 50%;
    padding:58px 0 58px 65px;
}
.cover-img-discussion .info .title{
width: 470px;
color: #171100;
font-family: Sen;
font-size: 3.8rem;
font-style: normal;
font-weight: 700;
line-height: 1.26; /* 126.316% */
letter-spacing: -0.76px;
}
.cover-img-discussion .info .desc{
    margin-top: 16px;
width: 458px;
--line-clamp:2;
color: #5F5B53;
font-family: Poppins;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 1.75; /* 175% */
}
.cover-img-discussion .info .btn{
    margin-top: 32px;
    background-color: #FFB900;
    width: 137px;
    color:#fff;
}
/* /feature-2   */

.feature-2{
    padding: 200px 0 0px 0;
}
.feature-2 .cover{
    display: flex;  
}
.feature-2 .cover .info .title, .cover .info .desc{
    width: 570px;
}
.feature-2 .cover .info .desc{
    margin-top: 16px;
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.feature-2 .info .btn{
    margin-top: 32px;
    background-color: #FFB900;
    width: 137px;
    color:#fff;
    margin-left: 0px;
}
.feature-2 .img-feature-2 .child{
    border-radius: 20px;
    margin-left: 130px;
    width: 470px;
    height: 440px;
    object-fit: cover;
}
/* ourblog */

.ourblog{
    margin-top: 200px;
    padding:86px 0;
    background-color: #FFFCF4;
}
.ourblog .block-top{
    text-align: center;
}
.ourblog .block-top .desc{
    margin: 16px auto auto;
    width: 371px;
color: #696262;
text-align: center;
font-family: Poppins;
font-size: 1.6rem;
font-style: normal;
font-weight: 400;
line-height: 1.75; /* 175% */
}
.ourblog .blog-list{
    margin-top: 55px;
    display: flex;
    flex: 1;
    gap: 30px;
}
.ourblog .blog-list .item{
    width: calc(33.33% - 30px);
}
.ourblog .blog-list .thumb{
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;   
}

.ourblog .blog-list .highlight::before{
    display: inline-block;
    content: "";
    position: relative;
    width: 6px; 
    height: 6px;
    border-radius: 50%;
    background-color: #FFB900;
    margin-right: 4px;
}
.ourblog .blog-list .info{
    padding:20px 20px 28px;
}
   .ourblog .blog-list .highlight{
     color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    display: flex;
    margin-top: 20px;
    align-items:center;

   }
   .ourblog .blog-list .hr{
    margin-top: 12px;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
   }
   .ourblog .blog-list .info .title{
    width: 330px;
    margin-top: 12px;
    color: #171100;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75; /* 175% */
   }
   
   .ourblog .blog-list .info .btn{
    margin-top: 12px;
    width: 118px;
    height: 50px;
    color: #fff;
   }
   .ourblog .blog-list .item{
    border-radius: 16px;
    color: #fff;
   }
   .ourblog .blog-list .item:hover{
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
   }
  .blog-list .info .btn-more{
    background-color: #FFB900;
   }
   .dot-blog{
    text-align: center;
   }
   .ourblog .dot-blog{
    margin-top: 38px;
   }
  .dot{
    display: inline-block;
    cursor: pointer;
    width: 6px;
    background-color: #5F5B53;
    height: 6px;
    border-radius: 999px;
   }
   .ourblog .dot-blog .dot:hover {
    background-color: yellow;
    cursor: default;
   }
   footer{
    background: #2E2100;
   }
   footer .list{
    border-bottom: solid 1px #59554B;
    padding: 96px 0 28px 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    }
    
    footer .list .title{
    color: #FFF;
    font-family: Sen;
    font-size:1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.42; /* 141.667% */
    }
    footer .list .title-big{
        font-size: 2.4rem;
    }
    footer .list .desc{
    color: #BFBCB2;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87; /* 185.714% */
    }   
    footer .list .limit-desc{
        width: 213px;
        margin: 18px 0;
    }
    footer .list .list-item .hr{
        margin: 12px 0 28px;
        background: #59554B;
    }
    footer .list .social{
        display: flex;
        gap: 15px;
    }
    footer .list .list-item .bold-capitalize{
        color: #FFF;
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.87; /* 185.714% */
    }
    #private{width: 231px;
        
    }
    footer .list .list-item .cover{
        display: flex;
        justify-self: center;
        align-items: center;
    }
    footer .list .list-item p{
        margin: 6px 0 6px;
    }.hr-end{
        width: 1170px;
        background-color: #59554B;
    }.end .desc{
        margin-top: 28px;
        color: #807D74;
        text-align: center;
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.86; /* 185.714% */
    }
    .end{
        margin-top: 38px;
    }